In [1]:
import json
import pandas as pd
import os
import glob

In [2]:
location_data_path = 'downloads'

list_of_files = glob.glob(os.path.join(location_data_path, '*.json'))
list_of_files

['downloads/20251122-184231-032.json',
 'downloads/20251122-183942-977.json',
 'downloads/20251122-184445-357.json',
 'downloads/20251122-184646-307.json',
 'downloads/20251122-152133-471.json',
 'downloads/20251122-151010-399.json',
 'downloads/20251122-183621-381.json',
 'downloads/20251122-184031-939.json',
 'downloads/20251122-184134-000.json',
 'downloads/20251122-184605-767.json',
 'downloads/20251122-183526-144.json',
 'downloads/20251122-184611-961.json',
 'downloads/20251122-184725-823.json',
 'downloads/20251122-183727-688.json',
 'downloads/20251122-184509-832.json',
 'downloads/20251122-184326-266.json',
 'downloads/20251122-152136-205.json',
 'downloads/20251122-183519-885.json',
 'downloads/20251122-183631-137.json',
 'downloads/20251122-152141-005.json',
 'downloads/20251122-151008-951.json',
 'downloads/20251122-183834-125.json']

In [9]:
def quick_analysis(file_index):
    file = list_of_files[file_index]
    with open(file, 'r') as f:
        data = json.load(f)
    timestamp = data.get('header').get('timestamp')
    timestamp = pd.to_datetime(timestamp)
    entries = data.get('fixtures')[0].get('races')[0].get('entries')
    entries_df = pd.DataFrame(entries)
    entries_df = entries_df.drop(columns=['favPos', 'favJoint', 'finalPosition', 'jockey', 'weight'])
    entries_expanded = pd.concat([
        entries_df.drop(columns=['equipment', 'startingPrice']),
        entries_df['equipment'].apply(pd.Series).add_prefix('equipment_'),
        entries_df['startingPrice'].apply(pd.Series).add_prefix('startingPrice_')
    ], axis=1)
    entries_expanded['timestamp'] = timestamp
    return entries_expanded

In [10]:
quick_analysis(0)

,id,startNumber,programNumber,startPosition,coupledIndicator,decoupledNumber,horse_id,name,status,showPrices,equipment_code,equipment_description,startingPrice_nominator,startingPrice_denominator,timestamp
0,20988393,1,1,1,0,1,995114,Racket,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00
1,20988394,2,2,2,0,2,1131769,Fredericksburg,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00
2,20988395,3,3,3,0,3,1067683,Get Ready to Rock,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",B,,None,None,2025-11-22 18:42:23+00:00
3,20988396,4,4,4,0,4,1135774,Santal,0,[],,,None,None,2025-11-22 18:42:23+00:00
4,20988397,5,5,5,0,5,1035752,Lookin for Roses,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00
5,20988398,6,6,6,0,6,1143349,Corta Fuego,0,[],,,None,None,2025-11-22 18:42:23+00:00
6,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00
7,20988400,8,8,8,0,8,1100973,Sugar Buzz,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00
8,20988401,9,9,9,0,9,1105456,Bold N Breezy,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00
9,20988402,10,10,10,0,10,1135991,Wineman Trax,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00

In [11]:
list_of_df = []
for i in range(len(list_of_files)):
    result = quick_analysis(i)
    list_of_df.append(result)

# concatenate all dataframes in list_of_df
all_data = pd.concat(list_of_df, ignore_index=True)
all_data

,id,startNumber,programNumber,startPosition,coupledIndicator,decoupledNumber,horse_id,name,status,showPrices,equipment_code,equipment_description,startingPrice_nominator,startingPrice_denominator,timestamp
0,20988393,1,1,1,0,1,995114,Racket,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00
1,20988394,2,2,2,0,2,1131769,Fredericksburg,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00
2,20988395,3,3,3,0,3,1067683,Get Ready to Rock,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",B,,None,None,2025-11-22 18:42:23+00:00
3,20988396,4,4,4,0,4,1135774,Santal,0,[],,,None,None,2025-11-22 18:42:23+00:00
4,20988397,5,5,5,0,5,1035752,Lookin for Roses,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,20988398,6,6,6,0,6,1143349,Corta Fuego,0,[],,,None,None,2025-11-22 18:38:25+00:00
216,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:38:25+00:00
217,20988400,8,8,8,0,8,1100973,Sugar Buzz,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:38:25+00:00
218,20988401,9,9,9,0,9,1105456,Bold N Breezy,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:38:25+00:00
219,20988402,10,10,10,0,10,1135991,Wineman Trax,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:38:25+00:00

In [12]:
runner_data = all_data[all_data['id']=='20988399']
runner_data.sort_values(by='timestamp', inplace=True)
runner_data

/tmp/ipykernel_58775/903753857.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  runner_data.sort_values(by='timestamp', inplace=True)

,id,startNumber,programNumber,startPosition,coupledIndicator,decoupledNumber,horse_id,name,status,showPrices,equipment_code,equipment_description,startingPrice_nominator,startingPrice_denominator,timestamp
206,20988399,7,7,7,0,7,1066282,Papa Funny,1,[],,,None,None,2025-11-22 15:10:07+00:00
56,20988399,7,7,7,0,7,1066282,Papa Funny,1,[],,,None,None,2025-11-22 15:10:09+00:00
46,20988399,7,7,7,0,7,1066282,Papa Funny,1,[],,,None,None,2025-11-22 15:21:32+00:00
166,20988399,7,7,7,0,7,1066282,Papa Funny,1,[],,,None,None,2025-11-22 15:21:35+00:00
196,20988399,7,7,7,0,7,1066282,Papa Funny,1,[],,,None,None,2025-11-22 15:21:40+00:00
176,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:35:10+00:00
106,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:35:22+00:00
66,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:36:14+00:00
186,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:36:27+00:00
136,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:37:23+00:00
216,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:38:25+00:00
16,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:39:38+00:00
76,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:40:25+00:00
86,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:41:23+00:00
6,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:42:23+00:00
156,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:43:22+00:00
26,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:44:36+00:00
146,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:45:05+00:00
96,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:46:01+00:00
116,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:46:06+00:00
36,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:46:39+00:00
126,20988399,7,7,7,0,7,1066282,Papa Funny,1,"[{'timestamp': '2025-11-22T18:35:08+00:00', 'n...",,,None,None,2025-11-22 18:47:17+00:00